.wapper {
    height: 100%;
    width: 100%;
    background: #fff;
}
.tz-header {
    color: #fff;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 10rem;
    height: 1.16rem;
    z-index: 10;
}
.header>.content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 .4rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
}
.header>.content>.back{
    width: .29rem;
    height: .53rem;
}
.header>.content>.title {
    font-size: .48rem;
    margin: 0 .28rem;
    padding: .035rem .29rem 0 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.16rem;
    overflow: hidden;
}
.tz-header .line-bottom {
    display: none;
}
.line-bottom {
    width: 200%;
    height: 1px;
    background: #eaebec;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: left;
    transform-origin: left;
}
.wapper>.content {
    margin-left: .93rem;
    margin-right: .93rem;
    padding-top: 1.59rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.content>div.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.content>div.flex-grow  .title {
    height: .53rem;
    line-height: .53rem;
    font-size: .53rem;
    font-weight: 700;
    color: #303943;
    margin-bottom: .4rem;
}
.content>div.flex-grow  .tip {
    line-height: .43rem;
    height: .43rem;
    font-size: .43rem;
    color: #a1a1a3;
}
.content div.input-area {
    margin-top: 1.36rem;
}
.inputwrapper {
    width: 100%;
    height: .94rem;
    border-bottom: .02rem solid #eef0f2;
    position: relative;
}
.phone>p {
    display: inline-block;
    text-align: left;
    font-size: .37rem;
    color: #303943;
    height: .94rem;
    position: absolute;
    top: .25rem;
}
.phone>i {
    width: 0;
    height: 0;
    border-width: .14rem;
    border-style: solid;
    display: inline-block;
    border-color: #636971 transparent transparent;
    margin-top: .31rem;
    margin-left: .16rem;
    position: absolute;
    top: .15rem;
    left: .8rem;
}
.phone>input {
    margin-left: 1.5rem;
    height: .9rem;
    line-height: .9rem;
}
.inputwrapper>input {
    width: 5rem;
    font-size: .37rem;
    color: #303943;
    font-family: PingFangSC-Regular,\\5FAE\8F6F\96C5\9ED1;
}
 .activeborder{
    border-bottom-color:  #3073f4;
}
.inputwrapper>div.clear-icon {
    position: absolute;
    width: .43rem;
    height: .43rem;
    z-index: 2;
    background: #fff;
    right: 0;
    top: .2rem;
}
.inputwrapper>div.clear-icon>img {
    width: 100%;
    height: 100%;
}
.code {
    margin-top: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: .1rem;
}
.code>span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    padding-top: .1rem;
    font-size: .37rem;
    color: #a1a1a3;
}
.inputwrapper.code>div.clear-icon, .inputwrapper.image-code>div.clear-icon {
    right: 2.5rem;
}
.inputwrapper>div.clear-icon>img {
    width: 100%;
    height: 100%;
}
.cantGetCode {
    font-size: .37rem;
    color: #303943;
    text-align: right;
    margin-top: .3rem;
}
.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background: rgba(0,0,0,.5);
}
.mask .contentbox {
    position: absolute;
    padding: .33rem .5rem .53rem;
    top: 50%;
    left: 50%;
    margin-left: -3.41rem;
    margin-top: -3.77rem;
    width: 6.83rem;
    height: 7.53rem;
    background: #fff;
    border-radius: .2rem;
}
.contentbox .title {
    padding-bottom: .45rem;
    font-size: .48rem;
    font-family: PingFangSC-Medium;
    color: #303943;
    font-weight: Medium;
    border-bottom: .02rem solid #eef0f2;
}
.contentbox .tips {
    margin-top: .42rem;
    font-size: .37rem;
    font-family: PingFangSC-Regular;
    color: #a1a1a3;
}
.contentbox a {
    margin-top: .28rem;
    padding: 0 .15rem 0 .36rem;
    display: block;
    height: 1.05rem;
    line-height: 1.05rem;
    background: #596777;
    border-radius: .2rem;
    font-family: PingFangSC-Regular;
    color: #fff;
}
.contentbox .tips {
    margin-top: .42rem;
    font-size: .37rem;
    font-family: PingFangSC-Regular;
    color: #a1a1a3;
}
.contentbox .qqbgcolor {
    background-color: #548bf6;
}
.contentbox a .number {
    font-size: .41rem;
}
.rf {
    float: right;
}
.contentbox a .calling {
    margin-right: .09rem;
    font-size: .27rem;
}
.contentbox a .arrow {
    width: .17rem;
    height: .27rem;
    vertical-align: middle;
}
.contentbox .closebtn {
    position: absolute;
    top: 8.2rem;
    left: 50%;
    margin-left: -.37rem;
    width: .73rem;
    height: .73rem;
}
.btn-login {
    height: 1.04rem;
    line-height: 1.04rem;
    background: #e0e0e0;
    border-radius: .13rem;
    font-size: .45rem;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
}
.change-register {
    height: .53rem;
    line-height: .53rem;
    font-size: .37rem;
    color: #303943;
    margin-top: .8rem;
}
.change-register>label {
    float: right;
}
.content>.other-login {
    height: 5.07rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: Center;
    -ms-flex-align: Center;
    align-items: Center;
}
.re-other {
    border-top: 1px solid #eaebec;
    text-align: center;
}
.re-other>span {
    font-size: .37rem;
    color: #a1a1a3;
    bottom: .3rem;
    width: 3.3rem;
    background: #fff;
    display: inline-block;
    position: relative;
}
.re-other>span:after {
    right: -2.5rem;
}
.re-other>span:after, .re-other>span:before {
    content: "";
    display: block;
    width: 2.4rem;
    height: .03rem;
    background: #eaebec;
    position: absolute;
    top: .3rem;
}
.re-other>span:before {
    left: -2.5rem;
}
.re-other>div {
    margin-top: .2rem;
}
.re-other>div i {
    display: inline-block;
    width: 1.07rem;
    height: 1.07rem;
}
