
.container {
    position: relative;
    font-size: .45rem;
    min-height: 100%;
    background: #fff;
}
.tz-empty {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background: #fff;
}
.tz-empty {
    font-size: .37rem;
    width: 100%;
    height: 100%;
    color: #a1a1a3;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.tz-empty>img {
    width: 56%;
    margin-top: -30%;
}
button.active {
    color: #fff;
    background: #35bf10;
    border: 1px solid #35bf10;
}
button {
    width: 5.87rem;
    color: #4786ff;
    text-align: center;
    line-height: 1.01rem;
    margin-top: .4rem;
    background: #fff;
    border: 1px solid #4786ff;
    border-radius: .13rem;
}
.container>.user {
    padding: .75rem .4rem .83rem .56rem;
    margin-bottom: .21rem;
    background: #fff;
    -webkit-box-shadow: 0 0.05rem 0.05rem rgba(0,0,0,.05), 0 0 0 0.21rem #f3f5f7;
    box-shadow: 0 0.05rem 0.05rem rgba(0,0,0,.05), 0 0 0 0.21rem #f3f5f7;
}
.block{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container>.user>.name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 .35rem 0 0;
}
.block>.grow {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 .37rem;
}
.container>.user>.name>.nick {
    font-size: .53rem;
    max-width: 6rem;
    margin-bottom: .2rem;
}
.container>.user .avatar {
    width: 1.87rem;
    height: 1.87rem;
    border-radius: 50%;
}
.vip-icon {
    width: .66rem;
    height: .63rem;
    position: absolute;
    right: 1.09rem;
    top: .59rem;
}
.enter {
    width: .19rem;
    height: .32rem;
    margin-left: .64rem;
    vertical-align: -1px;
}
.cell-group {
    padding: 0 .4rem 0 .56rem;
    background: #fff;
}
.cell-group>.cell {
    padding-top: .4rem;
    padding-bottom: .27rem;
    border-bottom: 1px solid #eaebec;
}
.cell-group>.cell>img {
    width: .64rem;
    height: .64rem;
}
.block>.grow {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 .37rem;
}
.cell-group>.cell>.desc {
    font-size: .37rem;
    color: #a1a1a3;
    white-space: nowrap;
}
.cell-group>.cell>.desc>img {
    margin-left: .24rem;
}


.container>.version {
    width: 100%;
    position: absolute;
    bottom: 1.49rem;
    font-size: .32rem;
    color: #a1a1a3;
    text-align: center;
}
